<h2>Editando Produtos com ID {{idproduto}}</h2>
<form action="/editar/{{idproduto}}" method="POST">

<div class="mb-3">
    <label class="form-label">Descrição</label>
    <input class="form-control" type="text" name="descricao">
</div>

<div class="mb-3">
    <label class="form-label">Preço</label>
    <input class="form-control" type="text" name="preco">
</div>

<button type="submit" class="btn btn-primary">Atualizar</button>
</form>